.service {
    margin-top: 96px;
    
}

.service__advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.service__advantages-item {
    display: flex;
    
    gap: 24px;
}


.advantages__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
}
.advantages__title {
    color: #081323;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.advantages__suptitle {
    color:#828282;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}